span {background-color:darkcyan;}
/* I added the navbar-brand class to change the text color of my name to white */
.navbar-light .navbar-brand {color:white;}



h1 {color:darkcyan;}

h2 {color:darkcyan;}

/* I created a span2 class to add padding so my About Me Header could move a little down from the top */
.span2 {padding:20px}

body {background-color:lightgrey;}


/* I added a header class to change the background color and margins in the containers */
.header {margin:60px; 
         margin-left:30px;
         margin-right:10px;
         background-color:white;}

        
.text {margin-left:30px;}
          
          

/* I created the button class to make the submit button darkcyan */
.button {background-color:darkcyan}  
/* I added a footer class to style the sticky footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    text-align: center;
    border-top: 5px solid darkcyan;
    height:50px;}
         





