span {background-color:darkcyan;}

.navbar-light .navbar-brand {color:white;}

h1 {color:darkcyan;}

h2 {color:darkcyan;}

.header {margin:60px; 
         margin-left:20px;
         background-color:white;}

.header1 {margin:60px;
          margin-left:20px;
          background-color:white}


         


body {background-color:lightgrey;}